/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
 
}


/******************************************
/* LAYOUT
/*******************************************/
nav {
  color: white;
}

footer {

}

/********/
/** Display & Alignment/
/********/


.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.align-c {
  align-items: center;
}

ul {
  list-style: none;
  margin-left: -2rem;
}

.food {
  width: 200px;
}



/********/
/** Margin/
/********/

.m1 {
  margin: 1rem;
}

/********/
/** Padding/
/********/

.p-b6 {
  padding-bottom: 6rem;
}

/********/
/** links/
/********/

a {
  text-decoration: none;
  color: white;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/********/
/** Font/
/********/


.orange {
  color: orange;
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
}

.days {
  font-size: 28px;
}



/********/
/** BG/
/********/

#Welcome {
  padding-left: 3rem;
  text-shadow: 3px 3px 3px black;
}

header {
  background-image: url("../assets/brown-cloth.png");
  background-size: cover;
  color: white;
}

#About {
  background-image: url("../assets/white-bowls.png");
  background-size: cover;
  text-shadow: 2px 2px 15px white;
  padding: 3rem;
  padding-left: 40%;
  padding-right: 10%;
}

#About p {
  font-weight: bold;
  font-size: 24px;
}

#Menu {
  background-image: url("../assets/wood.png");
  background-size: cover;
}

#Hours {
  background-color: rgb(254, 244, 225);
}

#Blog {
  background-color:gainsboro;
  padding-left: 20%;
  padding-right: 20%;
}

#Locations {
  background-image: url("../assets/slate.png");
  background-size: cover;
  color:white;
}

button {
  background-color: orange;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  border: solid 1px rgb(255, 220, 156);
  border-radius: 6px;
  color:white;
}
/* 
#score {
 
}
 */
