/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
nav {
  color: white;
}


/********/
/** Display & Alignment/
/********/


.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.evenly {
  justify-content: space-evenly;
}

.center {
  justify-content: center;
}

.align-c {
  align-items: center;
}

ul {
  list-style: none;
  margin-left: -2rem;
}

.food {
  width: 200px;
}



/********/
/** Margin/
/********/

.m1 {
  margin: 1rem;
}

.m-minus {
  margin-top: -3rem;
}

/********/
/** Padding/
/********/

.p-b6 {
  padding-bottom: 6rem;
}

.p-t6 {
  padding-top: 6rem;
}


h4 {
  padding-top: 5rem;
  font-size: 1.5rem;
}

/********/
/** links/
/********/

a {
  text-decoration: none;
  color: white;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/********/
/** Font/
/********/


.orange {
  color: orange;
  font-weight: 800;
  text-shadow: 3px 2px 5px black;
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
}

.days {
  font-size: 36px;
  margin: 1rem 6rem 1rem 6rem;
}

.font {
  font-size: 1.5rem;
}

.box-shadow {
  box-shadow: 5px 5px 20px black;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 1rem;
}

.shadow {
  text-shadow: 3px 3px 5px black;
}

.light-shadow {
  text-shadow: 3px 3px 6px rgb(255, 255, 255);
}

/********/
/** BG/
/********/

#Welcome {
  padding-left: 3rem;
  text-shadow: 3px 3px 3px black;
}

header {
  background-image: url("../assets/brown-cloth.png");
  background-size: cover;
  color: white;
}

#About {
  background-image: url("../assets/white-bowls.png");
  background-size: cover;
  text-shadow: 2px 2px 15px white;
  padding: 3rem;
  padding-left: 40%;
  padding-right: 10%;
}

#About p {
  font-weight: bold;
  font-size: 24px;
}

#Menu {
  background-image: url("../assets/spoons.png");
  background-size: cover;
}

#Hours {
  background-image: url("../assets/service-salt.png");
  background-size: cover;
  color:white;
}

#Blog {
  padding-left: 20%;
  padding-right: 20%;
  background-image: url("../assets/wood.png");
  background-size: cover;
}

#Locations {
  background-image: url("../assets/slate.png");
  background-size: cover;
  color:white;
}

button {
  background-color: orange;
  padding-top: 5px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  border: solid 1px rgb(255, 220, 156);
  border-radius: 6px;
  color:white;
}

.card {
  background-color: rgba(236, 255, 224, 0.8);
  padding: 1.5rem;
}
